.btn {
    background-color: #d9eb52;
    border-radius: 1rem;
    height: 2rem;
    width: 6rem;
    border: none;
    outline: none;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}