.btn {
    background-color: #0d1117;
    height: 2rem;
    width: 6rem;
    border: none;
    outline: none;
    transition: all 0.2s;
    font-weight: bold;
    border: 1px solid #d9eb52;
    color: #f0f6fc;   

    &:hover {
        cursor: pointer;
        background-color: #d9eb52;
        color: #0d1117;
    }
}

