@import '../../CSS_Utilities/utilities';

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .mainpage-heading {
        margin-top: 1rem;
    }

    .sortby-label {
        margin-right: 0.5rem;
    }

    .filters {
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .sort-by, .filter-by {

            select {
                height: 1.7rem;
                background-color: $bg-dark;
                color: #f0f6fc;
                outline: none;
                border: 1px solid $app-green;;
                font-size: 1rem;
    
            }
        }
    }

    .ticket-list {
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .footer {
        height: 200px;
    }
}

.test {
    color: #1010ce;
}