@import '../../CSS_Utilities/utilities';

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .heading-container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 1rem 0;

        .mainpage-heading {
            margin-top: 0.6rem;
        }

        .lds-ellipsis {
            position: relative;
            height: 100%;
            div {
                position: absolute;
                top: 33px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #fff;
                animation-timing-function: cubic-bezier(0, 1, 1, 0);
        
                &:nth-child(1) {
                    left: 8px;
                    animation: lds-ellipsis1 0.6s infinite;
                }
        
        
                &:nth-child(2) {
                    left: 8px;
                    animation: lds-ellipsis2 0.6s infinite;
                }
        
                &:nth-child(3) {
                    left: 32px;
                    animation: lds-ellipsis2 0.6s infinite;
                }
        
        
                &:nth-child(4) {
                    left: 56px;
                    animation: lds-ellipsis3 0.6s infinite;
                  }
              }
        
              @keyframes lds-ellipsis1 {
                0% {
                  transform: scale(0);
                }
                100% {
                  transform: scale(1);
                }
              }
              @keyframes lds-ellipsis3 {
                0% {
                  transform: scale(1);
                }
                100% {
                  transform: scale(0);
                }
              }
              @keyframes lds-ellipsis2 {
                0% {
                  transform: translate(0, 0);
                }
                100% {
                  transform: translate(24px, 0);
                }
              }
          }
    }

    .sortby-label {
        margin-right: 0.5rem;
    }

    .filters {
        width: 50rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .sort-by, .filter-by {

            select {
                height: 1.7rem;
                background-color: $bg-dark;
                color: #f0f6fc;
                outline: none;
                border: 1px solid $app-green;;
                font-size: 1rem;
    
            }
        }
    }

    .ticket-list {
        list-style: none;
        padding: 0;
        margin: 0;

    }

    .footer {
        height: 200px;
    }
}

.test {
    color: #1010ce;
}







