@import '../../CSS_Utilities/utilities';

.ticket-preview {
    display: flex;
    align-items: center;
    border: 2px solid $bg-dark;
    margin: 1rem 0;
    padding: 1rem;
    width: 50rem;
    height: 8rem;
    background-color: $bg-dark;
    transition: all .3s;

    @media(max-width: 1000px) {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    &:hover {
        border: 2px solid $app-green;
        cursor: pointer;
    }

    .fa-chevron-circle-right {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .ticket-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        @media(max-width: 600px) {
            width: 100%;
            flex-direction: column;
        }

        .left-summary {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 0.5rem;

            @media(max-width: 600px) {
                align-items: center;
                text-align: center;
                margin-right: 0;
                font-size: 1rem;
            }

            @media(max-width: 400px) {
                font-size: .8rem;
            }

            .status p{
                width: fit-content;
                color:black; //-- default color
                border-radius: 5px;
                padding: 0.1rem 0.2rem;
            }

            .issue {
                font-weight: bold;
                
            }

            .ticket-reference {
                color: orange;
            }
            
            .user {
                @media(max-width: 600px) {
                    display: none;
                }
            }
        }

        .right-summary {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 0.5rem;
            width: 15rem;

            @media(max-width: 600px) {
                align-items: center;
                text-align: center;
                margin-left: 0;
                width: 100%;
                font-size: 1rem;
            }

            @media(max-width: 400px) {
                font-size: .8rem;
            }
            
            .priority {
                display: flex;
                p {
                    margin-left: 0.5rem;
                }
            }
        }

    }
}