@import '../../CSS_Utilities/utilities';

.ticket-preview {
    display: flex;
    align-items: center;
    border: 2px solid $bg-dark;
    margin: 1rem 0;
    padding: 1rem;
    width: 50rem;
    height: 8rem;
    background-color: $bg-dark;
    transition: all .3s;

    &:hover {
        border: 2px solid $app-green;
        cursor: pointer;
    }

    .fa-chevron-circle-right {
        font-size: 2rem;
        margin-right: 1rem;
    }

    .ticket-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        .left-summary {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 0.5rem;
            .status p{
                width: fit-content;
                color:black; //-- default color
                border-radius: 5px;
                padding: 0.1rem 0.2rem;
            }

            .issue {
                font-weight: bold;
            }

            .ticket-reference {
                color: orange;
            }
        }

        .right-summary {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin-left: 0.5rem;
            width: 15rem;
            
            .priority {
                display: flex;
                p {
                    margin-left: 0.5rem;
                }
            }
        }

    }
}