@import '../../CSS_Utilities/utilities';

.ticket-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    width: 1000px;

    .bug-ticket-edit {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

         div {
            display: flex;
            justify-content: center;
            align-items: center;

            .ticket-reference {
                color: orange;
            }
         }

    }

    .issue {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .ticket-buttons {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .assign-btn {
            margin: 0 0.5rem;
        }

        button {
            @extend %btn;
            width: 5.5rem;
            height: 1.6rem;
        }
    }


    .priority-status {
        width: 100%;
        display: grid;
        grid-template: 'item1 item2 item3 item4';
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;

        .priority-container {
            grid-area: item1;

            .priority {
                display: flex;

                p {
                    margin-left: 0.5rem;
                }
            }
        }
        
        .user {
            grid-area: item2;
        }

        .assigned-to {
            grid-area: item3;
        }

        .status{ 
            grid-area: item4;
            width: 7.3rem;
            p{
                width: fit-content;
                border-radius: 5px;
                padding: 0.1rem 0.5rem;
            }
        }
    }


    .date {
        display: flex;
        width: 100%;
        text-align: center;
    }

    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1rem;

        P {
            background-color: $bg-dark;
            width: 100%;
            min-height: 10rem;
            padding: 1rem 0.5rem;
            white-space: pre-line
        }
    }

    .date {
        margin-bottom: 2rem;

        p {
            margin: 0 .5rem;
        }
    }

    .comments-container {
        width: 100%;
        margin-bottom: 1rem;

    }

    .add-comment-section {
        width: 100%;
        margin: 1rem 0;

        button {
            @extend %btn;
        }

        .comment-text {
            width: 60%;
            height: 100%;
            display: none;
            background-color: $bg-dark;
            color: #f0f6fc;
            outline-color: $app-green;
            border: none;
            font-size: 1rem;

            .comment-buttons {
                display: flex;
            }

            &:focus {
                outline: 1px solid $app-green;
            }
        }
    }

}