.search-container {
    position: relative;
    width: 12rem;
    height: 2rem;
    

    .search-bar {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        border: 3px solid black;
        outline: none;
        padding: 0 0.5rem;
        background-color: #0d1117;
        transition: border .1s;
        color: #f0f6fc;

        &::placeholder{
            color: #f0f6fc;
        }

        &:focus {
            border: 3px solid #d9eb52;
        }
    }

    .fa-search {
        position: absolute;
        right: 5%;
        top: 25%;
        font-size: 1.1em;
        color: #f0f6fc;
    }
}