.search-container {
    height: 2.1rem;
    margin: 0.5rem;
    transition: all .5s;

    .search-bar {
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        border: 3px solid #0d1117;
        outline: none;
        padding: 0 0.5rem;
        background-color: #0d1117;
        transition: all .5s;
        color: #f0f6fc;

        &::placeholder{
            color: #f0f6fc;
        }

        &:focus {
            border: 3px solid #d9eb52;
            width: 20rem;
            transition: all .5s;
        }
    }

}