@import '../../CSS_Utilities/utilities';

.navbar {
    background-color: $bg-light;
    width: 1000px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20rem;
        
        .fa-home {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                color: $app-green;
            }
        }

    }

    .right {
            
        button {
            @extend %btn;
        }
    }
}

.test{
    
}