.navbar {
    background-color: #161b22;
    height: 70px;
    display: flex;
    align-items: center;

    .search-container {
        position: relative;
        width: 9rem;
        height: 2rem;
        transition: all 1s;
        margin: 0 0.5rem 0 1rem;

        .search-bar {
            height: 100%;
            width: 100%;
            border-radius: 1rem;
            outline: none;
            padding: 0 1rem;
            transition: all 1s;
            
        }

        .fa-search {
            position: absolute;
            left: 0.5rem;
            top: 0;
            color: black;
            transition: all 1s;
            display: block;
        }
    }

}
