.navbar {
    background-color: #161b22;
    width: 80%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;

    .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20rem;
        
        .fa-home {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            transition: all 0.3s;

            &:hover {
                cursor: pointer;
                color: #d9eb52;
            }
        }


        .right {
            .btn {
                background-color: #0d1117;
                height: 2rem;
                width: 6rem;
                border: none;
                outline: none;
                transition: all 0.2s;
                font-weight: bold;
                border: 1px solid #d9eb52;
                color: #f0f6fc;   
            
                &:hover {
                    cursor: pointer;
                    background-color: #d9eb52;
                    color: #0d1117;
                }
            }
        }
    }
}
