@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

.App {
  color: #f0f6fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch", sans-serif;
}